# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# PyCharm
.idea/

# VSCode / Cursor
.vscode/

# Mac OS
.DS_Store

# Test / data
.pytest_cache/
test/test_*/
test/*outdir*/
test/*workdir*/

todo.md
